BOT= #bot token
AI= #OpenAI token
DB_HOST= #Host name for the DB
DB_NAME= #DB name
DB_USER= #DB user
DB_PASSWORD= #DB password
ADMINCOUNT= #amount of admins (amount of ADMIN values must equal their count)
ADMIN1= #first admin
ADMIN2= #second admin
...